Thumbs.db

Desktop.ini


*.cab
*.msi
*.msm
*.msp


*.vsscc
*.vspscc


obj/
bin/
.vs2019/
.vs2017/
.vs/
.idea/


.idea/


.idea/


.vscode/


bin/
obj/


appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
launchSettings.json


.idea/


project.lock.json
project.fragment.lock.json
artifacts/


node_modules/


.docker/


*.cab
*.msi
*.msm
*.msp


logs/
log/
*.log

*.suo
*.user
*.userosscache
*.sln.docstates


.vscode/


.idea/


.DS_Store


.Trash-*


.idea/


#Dockerfile
#docker-compose.override.yml
